@main-text-color: #111111;
@brand-color: #a31a1d;
@nav-color: #ffffff;
@nav-background: #8a1618;
@nav-top-link-inactive: #c27c7d;
@nav-border: #a72527;

@nav-left-background: #9a1e20;

@tab-background: #dcd9d9;
@tab-inactive-background: #cbcaca;

@nav-top-height: 96px;

html, body {
  width: 100%;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  background-image: url(../img/site-background.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  color: @main-text-color;
}

.site-header {
  background-color: rgba(179, 179, 179, 0.8);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  padding-bottom: 44px;
  padding-top: 60px;
}

.nav-top {
  position: relative;
  background-color: @nav-background;
  height: @nav-top-height;
  font-size: 16px;

  > li {
    height: @nav-top-height;
    vertical-align: middle;
    &.active {
      a {
        background-color: transparent;
        border-bottom-color: @nav-border;
        font-weight: bold;
      }
    }
    a {
      padding: 0 10px;
      color: #ffffff;
      height: @nav-top-height;
      line-height: @nav-top-height;
      border-radius: 0;
      -webkit-transition-property: background-position;
      transition-property: background-position;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;


      &:hover {
        background-color: transparent;
        border-bottom-color: @nav-border;
        span {
          border-bottom-color: transparent;
          border-style: solid;
          border-top-width: 0px;
          border-left-width: 0px;
          border-right-width: 0px;
          border-bottom-width: 4px;
        }
      }
    }
    span {

    }
  }


}

.nav-left {
  background-color: @nav-left-background;
  background-image: url(../img/menu-left-background.png);
  background-repeat: repeat-y;
  background-position: top;

  color: #ffffff;

  .active {
    border-color: #ffffff;
    border-style: solid;
    border-bottom-width: 1px;
    background-image: url(../img/menu-active.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  > ul {
    border-bottom-color: #cc171b;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 15px 12px;
    font-weight: bold;
    > ul {
      font-weight: normal;
    }
  }
}

.product {

}

.title {
  color: @brand-color;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: @brand-color;
}

.tab {
  background-color: @tab-background;
}

.doisd {
  color: #ffa200;
  &:hover, &:active {
    color: #ffa200;
  }
}

.categories-list {
  color: @main-text-color;
  a {
    color: inherit;
    text-decoration: none;
  }
  h3 {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: @brand-color;
    padding-bottom: 5px;
  }
  p {
    text-align: left;
  }
}