<IfModule mod_rewrite.c>
    RewriteEngine On

    #RewriteCond %{HTTP_HOST} ^www\.aclsecurity\.com\.br$ [NC]
    #RewriteRule ^(.*)$ http://aclsecurity.com.br/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
