{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#% extends "ACLMainBundle:Product:view_thumbnail.html.twig" % #}

{% set link = url('catalog_product', {'product_id': product.id, 'product_slug': product.slug}) %}
<a href="{{ link }}">
<div  class="panel panel-default product-item">
    <div class="panel-heading">
        <h4 itemprop="name" class="panel-title truncate">{{ product.name }}</h4>
        <h5 class="product-item-subname">{{ product.subname }}</h5>
    </div>
    <div class="panel-body">
        {% if product.image %}
            {% media product.image, 'main' with {'itemprop': 'image', 'class': 'img-responsive', 'width': null, 'height': null} %}
        {% else %}
            {# default product picture goes here #}
        {% endif %}
    </div>
    <div class="panel-footer">
        {% if not product.hideDescription %}
         <div itemprop="name" class="panel-title truncate product-item-description">{{ product.description|raw }}</div>
        {% endif %}
    </div>
</div>
</a>
