{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div class="panel-body product-grid equalizer">
    {% if pager.count == 0 %}
        <div class="no-products-available">
            Não há produtos disponíveis.
        </div>
    {% else %}
        {% for product in pager %}

                <div class="col-sm-4 watch" itemscope itemtype="http://schema.org/Product">
                    {% include 'ACLMainBundle:Catalog:_product_grid.html.twig' %}
                </div>

        {% endfor %}
    {% endif %}
</div>
