<div class="row">

    <div class="col-sm-3">

        {% block product_category %}
            {{ sonata_block_render({'type': 'acl.block.service.categories_menu', 'settings': {
                'current_uri': app.request.requestUri,
                'extra_cache_keys': {
                    'block_id':    'acl.block.service.categories_menu',
                    'updated_at':  'now',
                },
                'ttl': 600
            }}) }}
        {% endblock %}

    </div>

    <div class="col-sm-9">
    {% block content  %}
        {% if pager.count == 0 %}

            {% block no_products %}
                <div class="no-products-available">
                    Não há produtos disponíveis.
                </div>
            {% endblock %}

        {% else %}

            <div class="catalog-grid">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="catalog-title">
                                {% if category %}
                                    {{ category.name }}
                                {% else %}
                                    Produtos
                                {% endif %}
                            </h4>

                        </div>
                        <div class="col-sm-9">
                            {% if categoryIcons %}
                            <ul>
                                {% for categoryIcon in categoryIcons|slice(0, 4) %}
                                <li><a></a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {#% include 'ACLMainBundle:Catalog:_pager.html.twig' %#}
                        </div>
                    </div>
                </div>

                {% block products %}{% endblock %}

                {% if pager.paginationData.pageCount > 1 %}
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                {% include 'ACLMainBundle:Catalog:_pager.html.twig' %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
    </div>

</div>
