<div class="partners-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Nossos Parceiros</h4>
                <div class="partners-list">
                    {% for partner in partners|slice(0, 6) %}
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        {% media partner.logo, 'small' with { 'class': 'img-responsive img-rounded'} %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

