<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Nossos Parceiros</h4>
            <div class="partners-list">
                {% for partner in partners %}
                <div class="col-md-2 col-sm-3 col-xs-4">
                    {% media partner.logo, 'default_small' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

