html,
body {
  width: 100%;
}
body {
  font-family: verdana, arial, helvetica, sans-serif;
  background-image: url(../img/site-background.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  color: #111111;
}
.site-header {
  background-color: rgba(179, 179, 179, 0.8);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  padding-bottom: 44px;
  padding-top: 60px;
}
.nav-top {
  position: relative;
  background-color: #8a1618;
  height: 96px;
  font-size: 16px;
}
.nav-top > li {
  height: 96px;
  vertical-align: middle;
}
.nav-top > li.active a {
  background-color: transparent;
  border-bottom-color: #a72527;
  font-weight: bold;
}
.nav-top > li a {
  padding: 0 10px;
  color: #ffffff;
  height: 96px;
  line-height: 96px;
  border-radius: 0;
  -webkit-transition-property: background-position;
  transition-property: background-position;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-top > li a:hover {
  background-color: transparent;
  border-bottom-color: #a72527;
}
.nav-top > li a:hover span {
  border-bottom-color: transparent;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 4px;
}
.nav-left {
  background-color: #9a1e20;
  background-image: url(../img/menu-left-background.png);
  background-repeat: repeat-y;
  background-position: top;
  color: #ffffff;
}
.nav-left .active {
  border-color: #ffffff;
  border-style: solid;
  border-bottom-width: 1px;
  background-image: url(../img/menu-active.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.nav-left > ul {
  border-bottom-color: #cc171b;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 15px 12px;
  font-weight: bold;
}
.nav-left > ul > ul {
  font-weight: normal;
}
.title {
  color: #a31a1d;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #a31a1d;
}
.tab {
  background-color: #dcd9d9;
}
.doisd {
  color: #ffa200;
}
.doisd:hover,
.doisd:active {
  color: #ffa200;
}
.categories-list {
  color: #111111;
}
.categories-list a {
  color: inherit;
  text-decoration: none;
}
.categories-list h3 {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #a31a1d;
  padding-bottom: 5px;
}
.categories-list p {
  text-align: left;
}
