@main-text-color: #111111;
@brand-color: #a31a1d;
@nav-color: #ffffff;
@nav-background: #8a1618;
@nav-top-link-inactive: #c27c7d;
@nav-border: #a72527;

@nav-left-background: #9a1e20;

@tab-background: #dcd9d9;
@tab-inactive-background: #cbcaca;

@nav-top-height: 96px;

@product-background-color: #dcd9d9;

@product-main-color: #9a1e20;
@product-inactive-color: #231f20;

@product-tab-background-color: #dcd9d9;
@product-tab-inactive-background-color: #cbcaca;

html, body {
  width: 100%;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  background-image: url(../img/site-background.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  color: @main-text-color;
}

.site-header {
  background-color: rgba(179, 179, 179, 0.8);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  padding-bottom: 44px;
  padding-top: 60px;
}

.nav-top {
  position: relative;
  background-color: @nav-background;
  height: @nav-top-height;
  font-size: 16px;

  > li {
    height: @nav-top-height;
    vertical-align: middle;
    &.active {
      a {
        background-color: transparent;
        border-bottom-color: @nav-border;
        font-weight: bold;
      }
    }
    a {
      padding: 0 10px;
      color: #ffffff;
      height: @nav-top-height;
      line-height: @nav-top-height;
      border-radius: 0;
      -webkit-transition-property: background-position;
      transition-property: background-position;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;


      &:hover {
        background-color: transparent;
        border-bottom-color: @nav-border;
        span {
          border-bottom-color: transparent;
          border-style: solid;
          border-top-width: 0px;
          border-left-width: 0px;
          border-right-width: 0px;
          border-bottom-width: 4px;
        }
      }
    }
    span {

    }
  }


}

.nav-left {
  @group-padding-left: 20px;
  background-color: @nav-left-background;
  background-image: url(../img/menu-left-background.png);
  background-repeat: repeat-y;
  background-position: top right;
  font-weight: normal;
  color: #ffffff;
  .menu-container {
    padding: 12px 15px;
  }
  .lead {
    margin-top: 8px;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 0px;
    &:before {
      margin-top: -2px;
    }
  }
   a {
     color: #ffffff;
     &:before {
       content: "";
       display: inline-block;
       position: absolute;
       width: 0;
       height: 0;
       border-color: transparent;
       border-left-color: transparent;
       border-width: 14px;
       border-style: solid;
       margin-left: -50px;
       margin-top: -10px;
       -webkit-transition-duration: 0.4s;
       -webkit-transition-property: all;
       -webkit-transition-timing-function: cubic-bezier(0.425, 0, 0, 1);
       transition-duration: 0.4s;
       transition-property: all;
       transition-timing-function: cubic-bezier(0.425, 0, 0, 1);

     }
     &:hover, &:active, .active {
       text-decoration: none;
       &:before {
         border-left-color: #ffffff;
         border-width: 20px;
         margin-left: -30px;
       }


     }
   }
  .category-group {
    padding-left: @group-padding-left;
    display: block;
  }
  > .category-group > .category-group:after {
    content: "";
    margin-top: 10px;
    display: block;
    margin-left: -@group-padding-left * 2;
    width: ~"calc(100% + " @group-padding-left * 2 ~")";
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
  }

  .category-item {
    display: block;
    padding: 10px 0px;
  }
}

.list-group {
  margin-bottom: 0px;
  padding-left: 10px;
}

.product {

}

.title {
  color: @brand-color;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: @brand-color;
}

.tab {
  background-color: @tab-background;
}

.doisd {
  color: #ffa200;
  &:hover, &:active {
    color: #ffa200;
  }
}

.categories-list {
  color: @main-text-color;
  a {
    color: inherit;
    text-decoration: none;
  }
  h3 {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: @brand-color;
    padding-bottom: 5px;
  }
  p {
    text-align: left;
  }
}

.product-item {
  min-height: 400px;
  text-decoration: none;
  a {
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }
}

.product-item-description {
  font-size: 0.8em;
  padding: 5px 10px;
  ul {
    padding-left: 0;
  }
}

.panel-body {
  min-height: 240px;
  vertical-align: middle;
}
.panel-footer {
  min-height: 200px;
}
.product-block {
  .tab-content {
    background-color: @product-background-color;
    padding: 10px;
    ul {
      padding-left: 10px;
    }
    table {
      font-size: 0.9em;
      width: 100% !important;
      border-color: transparent !important;
      tr {
        border-style: solid;
        border-color: #c5c4c6;
        border-width: 1px;
        &:nth-child(odd){
          background-color: #f3f3f4;
        }
        &:nth-child(even){
          background-color: @product-background-color;
        }
      }
      td {
        padding: 2px 4px;
        border-left-style: solid;
        border-left-color: #c5c4c6;
        border-left-width: 1px;
        &:first-child {
          border-left-width: 0;
        }
      }
    }
  }

  .product-name {
    color: @product-main-color;
  }
  .nav-tabs {
    padding-left: 15px;
    > li {
      margin-bottom: 0;
      margin-left: 15px;
      position: relative;
      &:first-child {
        margin-left: 0;
      }
      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 40px;
        background-repeat: no-repeat;
      }
      &:before {
        margin-left: -15px;
        background-image: url(../img/tab-inactive-left.png);
      }
      &:after {
        margin-left: 100%;
        margin-top: -40px;
        background-image: url(../img/tab-inactive-right.png);
      }
      &.active {
        background-color: @product-tab-background-color;
        &:before, &:after {
          z-index: 10;
        }
        &:before {
          background-image: url(../img/tab-left.png);
        }
        &:after {
          background-image: url(../img/tab-right.png);
        }
        > a {
          background-color: @product-tab-background-color;
          color: @product-main-color;
          &:hover, &:focus {
            border-width: 0;
          }
        }
      }
      > a {
        background-color: @product-tab-inactive-background-color;
        font-weight: bold;
        color: @product-inactive-color;
        border-width: 0;
        margin-right: 0;
        border-radius: 0;
      }
    }
  }
}

.product-subname {
  font-size: 1em;
}

.product-item-subname {
  font-size: 0.7em;
}

.category-icons {
  padding-left: 0;
  float: right;
  text-align: right;
  li {
    display: inline-block;
  }
  a {
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.9;
    }
  }
  .category-icon-active {
    opacity: 1;
  }
}

.catalog-grid {

  > .panel-heading {
    border-bottom-color: @brand-color;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 0px;
  }
}

.catalog-title {
  color: @brand-color;
}

.product-title {
  color: @brand-color;
}

.catalog-search-form {
  width: 50%;
  float: right;
  margin-top: 6px;
  margin-right: 10px;
}

.partners-block {
  background-color: #e0dede;
  padding-bottom: 16px;
}

.copyright {
  font-size: 12px;
}